---
layout: base.njk
---
<h1>{{ title }}</h1>
<div class="container">
  {%- for animal in animals -%}
    <div class="animal">
      {% animal_section name, animal.name %}
      {% animal_section country, animal.country %}
      {% animal_section description, animal.description %}
    </div>
  {%- endfor -%}
</div>
