---
layout: base.njk
---
<h1>{{ title }}</h1>
<div class="container">
  {%- for animal in animals -%}
    <div class="animal">
      <div class="animal__text">
        <strong class="label">{{ name }}:</strong>
        {{ animal.name }}
      </div>
      <div class="animal__text">
        <strong class="label">{{ country }}:</strong>
        {{ animal.country }}
      </div>
      <div class="animal__text">
        <strong class="label">{{ description }}:</strong>
        {{ animal.description }}
      </div>
    </div>
  {%- endfor -%}
</div>
