---
title: 11ty Sample
layout: base.njk
lang: en
---

<h1> Hello world </h1>
<h2>Animal list by language:</h2>
<a href="./en/animal-list.html"><h3>en</h3></a>
<a href="./es/animal-list.html"><h3>es</h3></a>
