---
title: 11ty Sample
layout: base.njk
lang: en
---

<h1> Hello world </h1>
<h2>Animal list by language:</h2>
<a href="./en/animal-list.html"><h3>en</h3></a>
<a href="./es/animal-list.html"><h3>es</h3></a>
<a href="./fr/components.html"><h3>fr</h3></a>
<h3>Js Code snippets</h3>
{% highlight "js" %}
function myFunction() {
  return true;
}
{% endhighlight %}

<h3>Bash Code snippets</h3>
{% highlight "bash" %}
#!/usr/bin/env bash

NAME="John"
echo "Hello $NAME!"
{% endhighlight %}
